.CFUserTextEncoding
.DS_Store
.DocumentRevisions-V100
.TemporaryItems
.Trash
.bash_history
.config
.fseventsd
.lesshst
.lldb
.myvimrc
.ssh
.swp
.test_loop.c.swp
.viminfo
.zsh_history
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
correction
ft_printf
goinfre
init
libft
machine
push_swap
sgoinfre
tesst.c
.zcompdump*
libft.a
test.c

*.swp
*.netrwhist
*tpl
test_folder
.cpy
hello_makefile
.vscode
*.swo

.*~
