body { font-family: "Times New Roman", Times, serif; color: #000000; 
	background-color: #FFFFFF; text-align:center;
	margin:0px; }

h1,h2,h3,h4,h5{ margin:0px; font-size:100%; }
h1{ font-size:110%; font-weight:bold; font-variant: small-caps; }
h2{ font-weight:bold; }
h3{ font-weight:normal; }
p { margin-top:5px; margin-bottom:10px; }

ul { margin-top:5px; margin-bottom:10px; margin-left:0px;}
li {margin-bottom:5px; list-style: disc inside}
a { text-decoration: none; color:#0066ff}
a:visited { text-decoration: none; color:#0033aa; }
a:hover { text-decoration: underline;  }
em { font-style:normal; color:#FF0000 }

form { display:none;  }
input,select,textarea { font-family: "Times New Roman", Times, serif; }
.fleche { display:none; }

.toit, .tm { display:none;  }
.tm1 { margin:0;font-variant: small-caps;}
.tm2 { font-weight: bold;}

.corps, .separateur { width:100%;
	margin-left: auto; margin-right: auto; 
	padding:0px; text-align: left; }


.pied, .imagePied { display:none; }


.chinoisVertical  {  font-family: MingLiU, "Arial Unicode MS";}
.chinoisVertical td {  vertical-align: top}
.cvT00 {  background-image: url(../img/ct/T_00.gif) }
.cvTF02 {  background-image: url(../img/ct/TF_02.gif) }
.cvTF03 {  background-image: url(../img/ct/TF_03.gif) }
.cvTFx4 {  background-image: url(../img/ct/TF_x4.gif) }
.cvTF12 {  background-image: url(../img/ct/TF_12.gif) }
.cvTF13 {  background-image: url(../img/ct/TF_13.gif) }
.cvCOL {  width: 30px; text-align: center;
	border: #CCCCCC solid; border-width: 0px 0px 0px 1px}
