[Unit]
Description=compress and archieve connections

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/systemd/system/tcpd-bkup.sh


[Unit]
Description=Compress and archive connections

[Service]
Type=oneshot
ExecStart=/svr/usr/bin/tcpd-bkup.sh

