[Unit]
Description=watch connections
After=network-online.target

[Service]
ExecStart=/bin/bash /etc/systemd/system/tcpd.sh

Type=simple

[Install]
WantedBy=multi-user.target

