.pe-wheel-of-fortune {
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.pe-wheel-of-fortune.pe-wof-lighted {
  padding: 30px;
  height: 550px;
  width: 550px;
  margin: auto;
}
.pe-wheel-of-fortune::after {
  aspect-ratio: 1/cos(30deg);
  background-color: #D746F5 !important;
  clip-path: polygon(50% 100%,100% 0,0 0);
  content: "";
  height: 32px;
  width: 36px;
  position: absolute;
  place-self: start center;
  scale: 1.0;
  z-index: 3;
  margin-top: -8px;
}
.pe-wheel-of-fortune > * {
  position: absolute;
  box-sizing: border-box;
}
.pe-wheel-of-fortune button {
  aspect-ratio: 1 / 1;
  background: #003D8F;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  place-self: center;
  z-index: 3;
  font-size: 32px;
  min-width: 98px;
  height: auto;
  width: auto;
  font-family: 'OverpassRegular';
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.pe-wheel-of-fortune button:hover {
    background-color: #001B41; /* Change the color on hover */
    color: #FFFFFF; /* Ensure text color remains visible */
}
.pe-wheel-of-fortune ul {
  all: unset;
  clip-path: inset(0 0 0 0 round 50%);
  display: grid;
  inset: 0;
  place-content: center start;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  z-index: 2;
}
.pe-wheel-of-fortune ul li {
  align-content: center;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  display: grid;
  font-size: 5cqi;
  grid-area: 1 / -1;
  /* padding-left: 1ch; */
  transform-origin: center right;
  user-select: none;
  width: 50cqi;
  color: #001B41 !important;
  text-align: center;
}

.pe-wof-prize-overlay {
  z-index: 4;
}

.pe-wof-border {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
}
.pe-wheel-of-fortune.pe-wof-lighted .pe-wof-border {
  display: block;
}
.pe-wof-light {
  position: absolute;
  left: 5px;
  top: calc(50% - 10px);
  height: 10px;
  width: 10px;
  background: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px yellow;
}
.pe-wof-light.pe-wof-light-disabled {
  display: none;
}
