you are on my systems bugs diary
I use this workspace to get a deeper understanding of system behavior and potential issues
I always considere someone is getting access to my full data
I Need to carry more and more about the autenticity of images and OSes, help me with that